/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@-webkit-keyframes dropBars {
  0% {
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
@keyframes dropBars {
  0% {
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
@-webkit-keyframes swingInItems {
  0% {
    -webkit-transform: translateX(-200%);
    transform: translateX(-200%); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
@keyframes swingInItems {
  0% {
    -webkit-transform: translateX(-200%);
    transform: translateX(-200%); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
@-webkit-keyframes swingInItemsRight {
  0% {
    -webkit-transform: translateX(200%);
    transform: translateX(200%); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
@keyframes swingInItemsRight {
  0% {
    -webkit-transform: translateX(200%);
    transform: translateX(200%); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
@-webkit-keyframes liftBars {
  0% {
    -webkit-transform: translateY(500%);
    transform: translateY(500%); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
@keyframes liftBars {
  0% {
    -webkit-transform: translateY(500%);
    transform: translateY(500%); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
@-webkit-keyframes liftDisplay {
  0% {
    -webkit-transform: translateY(150%);
    transform: translateY(150%); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
@keyframes liftDisplay {
  0% {
    -webkit-transform: translateY(150%);
    transform: translateY(150%); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
#bar1, #bar3, #bar7 {
  -webkit-animation-name: dropBars;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-animation-duration: 0.7s; }

#bar2, #bar8 {
  -webkit-animation-name: liftBars;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -webkit-animation-duration: 0.9s; }

#bar5, .skillsChart__bar-expert, .skillsChart__bar--proficient {
  -webkit-animation-name: liftBars;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-animation-duration: 0.9s; }

#bar4, #bar6, #bar9, .skillsChart__bar--competent {
  -webkit-animation-name: liftBars;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-animation-duration: 0.7s; }

.skillsChart__bar--learning {
  position: relative;
  -webkit-animation-name: liftBars;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-animation-duration: 0.8s; }

.skillsChart__bar--expert {
  -webkit-animation-name: liftBars;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-animation-duration: 1.1s; }

.projectCarousel__container {
  -webkit-animation-name: swingInItemsRight;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-animation-duration: 0.7s; }

.projects_carousel_tabs li:nth-child(2n), .introBars__intro {
  -webkit-animation-name: swingInItems;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-animation-duration: 1.1s; }

.projects_carousel_tabs li:nth-child(2n+1), .businessCard__container {
  -webkit-animation-name: swingInItems;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-animation-duration: 0.9s; }

* {
  box-sizing: border-box; }

body {
  font-family: 'Roboto Mono', monospace;
  width: 100vw;
  margin: 0 auto;
  background-color: lightyellow; }
  @media only screen and (min-width: 360px) {
    body {
      background-color: lightpink;
      width: 100vw; } }
  @media only screen and (min-width: 600px) {
    body {
      background-color: lightgreen;
      display: block;
      font-size: 1.1em;
      width: 97vw; } }
  @media only screen and (min-width: 1024px) {
    body {
      background-color: lightblue;
      font-size: 1.5em;
      width: 90vw;
      max-width: 1600px; } }

.introBars {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  min-height: 75vh; }

.introBars__intro {
  background-color: black;
  color: snow;
  position: absolute;
  top: 30vh;
  width: 95vw;
  z-index: 5; }
  @media only screen and (min-width: 600px) {
    .introBars__intro {
      width: 50vw; } }

.introBars__bar {
  background-color: black;
  margin: 10px 10px;
  width: 10px; }

.businessCard {
  font-family: Roboto;
  height: 100%;
  position: absolute;
  top: 0;
  transition: all 1s ease;
  width: 100%; }

.businessCard__bio {
  margin: 20px 0; }

.businessCard__back {
  background-color: black;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/433464/DSCN7219.jpg");
  background-size: cover;
  color: white;
  transform: rotateX(-180deg); }

.businessCard__back,
.businessCard__front {
  backface-visibility: hidden;
  height: 100%;
  padding: 30px;
  position: absolute;
  top: 0;
  transition: transform 0.8s ease, box-shadow 1s ease;
  width: 100%; }

.businessCard__backName {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 3px;
  bottom: 4%;
  color: #7325d4;
  display: inline-block;
  font-size: 15px;
  left: 2%;
  padding: 5px;
  position: absolute; }

.businessCard__contactItem {
  display: inline-block;
  color: #ee8ae4; }

.businessCard__contactList {
  list-style: none;
  margin: 5px 0;
  padding: 0; }

.businessCard__contactItem--notFirst {
  padding-left: 10px; }

.businessCard__container {
  display: block;
  height: 300px;
  margin: 100px auto;
  perspective: 1000px;
  position: relative;
  width: 500px;
  font-size: 16px; }

.businessCard__currentPosition {
  font-weight: normal;
  margin: 0 auto; }

.businessCard__figcaption {
  float: left;
  margin-left: 5px;
  margin-top: 5px; }

.businessCard__flipIcon {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px; }

.businessCard__front {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/433464/bg1.png");
  color: white;
  position: relative;
  transform: rotateX(0deg); }

.businessCard__header {
  margin-bottom: 10px; }

.businessCard__name {
  font-size: 35px;
  font-weight: normal;
  margin: 0 auto; }

.businessCard__networkLinks {
  margin-top: 20px;
  font-weight: normal; }

.businessCard__networkLink--main {
  float: left; }

.businessCard__networkLink--other {
  float: right; }

.businessCard__networkLogoDescription {
  color: #ee8ae4; }

.businessCard__networkLogo {
  width: 50px; }

.businessCard__networkLogo--main {
  display: inline;
  float: left; }

.businessCard__switch {
  display: none; }

.businessCard__switch:checked + .businessCard__container:hover .businessCard__back {
  transform: rotateX(-20deg);
  box-shadow: 0 -30px 20px 5px rgba(255, 255, 255, 0.25); }

.businessCard__switch + .businessCard__container:hover .businessCard__front {
  transform: rotateX(20deg);
  box-shadow: 0 30px 20px 5px rgba(0, 0, 0, 0.15); }

.businessCard__switch:checked + .businessCard__container .businessCard__front {
  transform: rotateX(180deg); }

.businessCard__switch:checked + .businessCard__container .businessCard__back {
  transform: rotateX(0deg); }

/* ==================================== */
/* === BUSINESS CARD - MEDIA QUERIES=== */
/* ==================================== */
@media only screen and (max-width: 600px) {
  .businessCard__container {
    width: 360px;
    font-size: 0.9em; } }
@media only screen and (max-width: 360px) {
  .businessCard__container {
    width: 300px;
    font-size: 0.9em; }

  .businessCard__contactItem--notFirst {
    padding: 0; }

  .businessCard__flipIcon {
    font-size: 1.2em; }

  .businessCard__networkLogo {
    width: 35px; } }
.modalBackground {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: gray;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out; }

.projectCarousel__container {
  display: none;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

.projectCarousel__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.projectCarousel__sliderRight, .projectCarousel__sliderLeft {
  width: 10%;
  height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer; }

.projectCarousel__navArrow {
  width: 100%;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: none; }
  .projectCarousel__navArrow:hover {
    background-color: gray;
    color: white;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; }

.projectCarousel__images > img {
  width: 0;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  max-width: 80%;
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transition: width all 0.2s ease-out;
  transition: width all 0.2s ease-out; }

.projectCarousel__title {
  font-size: 1.5em;
  margin: 15px 0; }

.projectCarousel__techInfo {
  margin: 15px 0; }

.projectCarousel__description {
  font-size: 0.9em; }

.searchModal {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70vh;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  left: calc(4%);
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  padding: 2%;
  position: fixed;
  text-align: center;
  transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  top: 100px;
  width: 30%;
  width: 90vw;
  z-index: 105; }

.searchModal__result {
  position: relative;
  text-align: center;
  width: 100%;
  height: 100%; }

.searchModal__exitButton {
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer; }

.skillChart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: 4vh 3vh 15vh 0vh; }

.skillsChart__bar {
  width: 25px;
  cursor: pointer; }

.skillsChart__barContainer:hover .skillsChart_toolTipCont > .skillsChart_toolTip {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  z-index: 5; }

.skillsChart__bar--expert {
  height: 40vh;
  max-height: 180px; }

.skillsChart__bar--proficient {
  height: 30vh;
  max-height: 138.75px; }

.skillsChart__bar--learning {
  position: relative;
  height: 0vh; }

.skillsChart__bar--competent {
  height: 20vh;
  max-height: 95px; }

.skillsChart__bar--learning {
  height: 14vh;
  max-height: 55px; }

.skillsChart__bar--orange {
  background-color: #FFAD41; }

.skillsChart__bar--aqua {
  background-color: #38BAF0; }

.skillsChart__bar--green {
  background-color: #69D12B; }

.skillsChart__bar--pink {
  background-color: #FA8CB0; }

.skillsChart__bar--yellow {
  background-color: #EFE210; }

.skillsChart__barContainer {
  margin: -9px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column;
  flex-flow: column;
  position: relative; }

.skillsChart__barsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  height: 40vh;
  max-height: 185px;
  border-bottom: 2px solid black; }

.skillsChart__barLabel {
  height: 0;
  width: 0;
  text-align: center;
  padding: 5px 13px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  font-size: 0.8em;
  z-index: -1; }

.skillCharts__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.skillChart__title {
  margin: 20px;
  text-align: center; }

.skillsChart_toolTipCont {
  height: 0;
  width: 0;
  position: relative; }

.skillsChart_toolTip {
  position: absolute;
  top: -35px;
  left: -110px;
  width: 120px;
  border-radius: 10px 10px 0 10px;
  background-color: rgba(55, 55, 55, 0.8);
  color: white;
  padding: 7px;
  font-size: 0.5em;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  z-index: -5;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; }

.skillsChart__yAxisProficiencyLabels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 0.9em;
  border-bottom: 2px solid black; }

.skillsChart__yAxisProficiencyLabel {
  position: relative;
  top: -5px;
  font-size: 0.8em; }

.skillsChart__yAxisProficiencyLabel--hidden {
  visibility: hidden; }

.mobileNav {
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  width: 0;
  border-right: 2px solid black;
  position: fixed;
  height: 95vh;
  left: 0;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
  display: inline-block; }
  @media only screen and (min-width: 600px) {
    .mobileNav {
      display: none;
      width: 0; } }

.mobileNav__name {
  padding: 10px;
  font-size: 1.2em;
  font-family: 'Architects Daughter', cursive; }

.mobileNav__links {
  list-style: none;
  padding: 0;
  margin: 0; }

.mobileNav__link {
  padding: 10px; }

.mobileNav__label {
  display: block; }

.mobileNav__link:hover > .mobileNav__label {
  color: blue;
  font-weight: boldest;
  cursor: pointer; }

.mobileNav__search {
  padding: 10px; }

#mobileNav__searchInput {
  font-size: 1.1em;
  width: 100%; }

.mobileNav__footer {
  padding: 10px;
  -webkit-box-flex: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.mobileNav__footerText {
  font-size: 0.7em;
  -ms-flex-item-align: bottom;
  -ms-grid-row-align: bottom;
  align-self: bottom; }

.mobileNav__searchInput {
  border: 1px solid black; }

.mobileNav__projectsCarouselTabs {
  color: black;
  height: 0;
  margin: 5px 0;
  overflow: hidden;
  padding: 3px; }

.mobileNav__projectsCarouselTab {
  margin: 10px 0; }

.mobileNav__projectsCarouselLabel {
  color: black !important; }

.standardNav {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  -ms-grid-row-align: baseline;
  align-items: baseline;
  background-color: white;
  padding: 10px; }
  @media only screen and (min-width: 600px) {
    .standardNav {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }

.standardNav__name {
  font-family: 'Architects Daughter', cursive;
  font-size: 1.6em; }

.standardNav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row;
  flex-flow: row wrap;
  list-style: none;
  margin: 0;
  padding: 0; }

.standardNav__link {
  margin: 0 10px; }

.standardNav__label:hover {
  color: blue;
  font-weight: bolder; }

.standardNav__label {
  cursor: pointer; }

.standardNav__searchIcon {
  cursor: pointer; }

main {
  position: relative;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out; }
  @media only screen and (min-width: 600px) {
    main {
      min-height: 80vh; } }

main > section {
  display: none;
  padding: 10px 5px; }

.section__title {
  font-size: 2em;
  margin: 15px 0; }

.projectsDisplay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }
  @media only screen and (min-width: 600px) {
    .projectsDisplay {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row; } }

.projectsDisplay__tabs {
  list-style: none;
  margin: 0;
  padding: 10px;
  width: 20%;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  display: none; }
  @media only screen and (min-width: 600px) {
    .projectsDisplay__tabs {
      display: block;
      -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
      order: 0; } }

.projectsDisplay__tab {
  padding: 3px;
  margin: 10px 0;
  cursor: pointer;
  width: 100%; }
  .projectsDisplay__tab:hover {
    background-color: black;
    color: white; }

.projectsDisplay__label {
  cursor: pointer;
  display: block;
  width: 100%; }

.projectsDisplay__projectsCarousel {
  padding: 10px;
  max-width: 800px;
  margin: 0 auto;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

footer {
  display: none;
  text-align: center;
  padding: 15px;
  border-top: 3px solid black;
  background-color: white; }
  @media only screen and (min-width: 600px) {
    footer {
      display: block; } }

input[name="sectionSwitches"] {
  display: none; }

input[name="sectionSwitches"]:nth-child(1):checked ~ .standardNav .standardNav__links > .standardNav__link:nth-child(1) .standardNav__label {
  color: red;
  font-weight: bold; }

input[name="sectionSwitches"]:nth-child(2):checked ~ .standardNav .standardNav__links > .standardNav__link:nth-child(2) .standardNav__label {
  color: red;
  font-weight: bold; }

input[name="sectionSwitches"]:nth-child(3):checked ~ .standardNav .standardNav__links > .standardNav__link:nth-child(3) .standardNav__label {
  color: red;
  font-weight: bold; }

input[name="sectionSwitches"]:nth-child(4):checked ~ .standardNav .standardNav__links > .standardNav__link:nth-child(4) .standardNav__label {
  color: red;
  font-weight: bold; }

input[name="sectionSwitches"]:nth-child(1):checked ~ .mobileNav .mobileNav__links > .mobileNav__link:nth-child(1) .mobileNav__label {
  color: red;
  font-weight: bold; }

input[name="sectionSwitches"]:nth-child(2):checked ~ .mobileNav .mobileNav__links > .mobileNav__link:nth-child(2) .mobileNav__label {
  color: red;
  font-weight: bold; }

input[name="sectionSwitches"]:nth-child(3):checked ~ .mobileNav .mobileNav__links > .mobileNav__link:nth-child(3) .mobileNav__label {
  color: red;
  font-weight: bold; }

input[name="sectionSwitches"]:nth-child(4):checked ~ .mobileNav .mobileNav__links > .mobileNav__link:nth-child(4) .mobileNav__label {
  color: red;
  font-weight: bold; }

input[name="sectionSwitches"]:nth-child(1):checked ~ main section:nth-of-type(1) {
  display: block; }

input[name="sectionSwitches"]:nth-child(2):checked ~ main section:nth-of-type(2) {
  display: block; }

input[name="sectionSwitches"]:nth-child(3):checked ~ main section:nth-of-type(3) {
  display: block; }

input[name="sectionSwitches"]:nth-child(4):checked ~ main section:nth-of-type(4) {
  display: block; }

input[name="projectSwitches"] {
  display: none; }

input[name="projectSwitches"]:nth-child(1):checked ~ .projectsDisplay .projectsDisplay__tab:nth-of-type(1) {
  background-color: rgba(50, 50, 50, 0.7);
  color: white; }

input[name="projectSwitches"]:nth-child(2):checked ~ .projectsDisplay .projectsDisplay__tab:nth-of-type(2) {
  background-color: rgba(50, 50, 50, 0.7);
  color: white; }

input[name="projectSwitches"]:nth-child(3):checked ~ .projectsDisplay .projectsDisplay__tab:nth-of-type(3) {
  background-color: rgba(50, 50, 50, 0.7);
  color: white; }

input[name="projectSwitches"]:nth-child(4):checked ~ .projectsDisplay .projectsDisplay__tab:nth-of-type(4) {
  background-color: rgba(50, 50, 50, 0.7);
  color: white; }

input[name="projectSwitches"]:nth-child(5):checked ~ .projectsDisplay .projectsDisplay__tab:nth-of-type(5) {
  background-color: rgba(50, 50, 50, 0.7);
  color: white; }

input[name="projectSwitches"]:nth-child(1):checked ~ .projectsDisplay .projectCarousel__container:nth-of-type(1) {
  display: block; }

input[name="projectSwitches"]:nth-child(2):checked ~ .projectsDisplay .projectCarousel__container:nth-of-type(2) {
  display: block; }

input[name="projectSwitches"]:nth-child(3):checked ~ .projectsDisplay .projectCarousel__container:nth-of-type(3) {
  display: block; }

input[name="projectSwitches"]:nth-child(4):checked ~ .projectsDisplay .projectCarousel__container:nth-of-type(4) {
  display: block; }

input[name="projectSwitches"]:nth-child(5):checked ~ .projectsDisplay .projectCarousel__container:nth-of-type(5) {
  display: block; }

.projectCarousel__switches {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center; }

input[name|="projectCarousel__switch"] {
  display: none; }

label[for|="projectCarousel__switch"] {
  cursor: pointer;
  margin: 5px; }
  label[for|="projectCarousel__switch"]:hover {
    background-color: gray;
    color: white; }

.projectCarousel
input[name|="projectCarousel__switch"]:nth-of-type(1):checked ~ .projectCarousel__images .projectCarousel__sliderLeft .projectCarousel__navArrow:nth-of-type(3),
.projectCarousel
input[name|="projectCarousel__switch"]:nth-of-type(2):checked ~ .projectCarousel__images .projectCarousel__sliderLeft .projectCarousel__navArrow:nth-of-type(1),
input[name|="projectCarousel__switch"]:nth-of-type(3):checked ~ .projectCarousel__images .projectCarousel__sliderLeft .projectCarousel__navArrow:nth-of-type(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.projectCarousel input[name|="projectCarousel__switch"]:nth-of-type(1):checked ~ .projectCarousel__images .projectCarousel__sliderRight .projectCarousel__navArrow:nth-of-type(2),
.projectCarousel input[name|="projectCarousel__switch"]:nth-of-type(2):checked ~ .projectCarousel__images .projectCarousel__sliderRight .projectCarousel__navArrow:nth-of-type(3),
input[name|="projectCarousel__switch"]:nth-of-type(3):checked ~ .projectCarousel__images .projectCarousel__sliderRight .projectCarousel__navArrow:nth-of-type(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.projectCarousel
input[name|="projectCarousel__switch"]:nth-of-type(1):checked ~ .projectCarousel__images img:nth-of-type(1) {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  z-index: 0;
  width: auto;
  height: auto;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: all 0.8s;
  transition: all 0.8s; }

.projectCarousel
input[name|="projectCarousel__switch"]:nth-of-type(2):checked ~ .projectCarousel__images img:nth-of-type(2) {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  z-index: 0;
  width: auto;
  height: auto;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: all 0.8s;
  transition: all 0.8s; }

.projectCarousel
input[name|="projectCarousel__switch"]:nth-of-type(3):checked ~ .projectCarousel__images img:nth-of-type(3) {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  z-index: 0;
  width: auto;
  height: auto;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: all 0.8s;
  transition: all 0.8s; }

input[name|="projectCarousel__switch"]:nth-of-type(1):checked ~ .projectCarousel__switches label:nth-of-type(1) {
  background-color: gray;
  color: white; }

input[name|="projectCarousel__switch"]:nth-of-type(2):checked ~ .projectCarousel__switches label:nth-of-type(2) {
  background-color: gray;
  color: white; }

input[name|="projectCarousel__switch"]:nth-of-type(3):checked ~ .projectCarousel__switches label:nth-of-type(3) {
  background-color: gray;
  color: white; }

#searchModalToggle {
  display: none; }

label[for="searchModalToggle"] {
  cursor: pointer; }

#searchModalToggle:checked ~ .searchModal {
  height: 0;
  top: -300px;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out; }

#searchModalToggle:checked ~ .modalBackground {
  z-index: -50;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out; }

input[name="sectionSwitches"]:nth-child(2):checked ~ nav .mobileNav__links > li:nth-child(2) .mobileNav__projectsCarouselTabs {
  height: 100%;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

#toggleNav {
  display: none; }

label[for="toggleNav"] {
  display: block;
  width: 100%;
  background-color: white;
  padding: 5px;
  cursor: pointer;
  width: 100vw; }
  @media only screen and (min-width: 600px) {
    label[for="toggleNav"] {
      display: none;
      width: none; } }

#toggleNav:checked ~ main label[for="toggleNav"] #enterNav {
  display: none; }

#toggleNav:not(:checked) ~ main label[for="toggleNav"] #exitNav {
  display: none; }

#toggleNav:checked ~ main {
  position: relative;
  -webkit-transform: translateX(40vw);
  transform: translateX(40vw);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out; }
  @media only screen and (min-width: 600px) {
    #toggleNav:checked ~ main {
      -webkit-transform: translateX(0);
      transform: translateX(0); } }

#toggleNav:checked ~ .mobileNav {
  width: 40vw;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  z-index: inherit; }

#toggleNav:not(:checked) ~ .mobileNav {
  width: 0;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out; }

/*# sourceMappingURL=main.css.map */
