.about_bars{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  min-height: 85vh;
}

.about_bars_intro{
  position: absolute;
  top: 30vh;
  width: 95vw;
  color: snow;
  z-index: 5;
  background-color: black;;
}


.about_bars_bar{
  width: 10px;
  background-color: black;
  margin: 10px 10px;
}