main{
  position: relative;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  
  @media only screen and (min-width: 600px) {
      min-height: 80vh;
  }
}

main > section{
  display: none;
  padding: 10px 5px;
}

.section__title{
	font-size: 2em;
}