// SORTED
.mobileNav{
  @include flexBox;

  background-color: white;
  border-right: 2px solid black;
  display: inline-block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 95vh;
  left: 0;
  overflow: hidden;
  position: fixed;
  -webkit-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out; 
  width: 0;

  @media only screen and (min-width: $breakpointMed) {
    display: none;
    width: 0;
  }

}

.mobileNav__footer{
  @include flexBox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 2;
  -ms-flex-positive: 2;
      flex-grow: 2;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 10px;
}

.mobileNav__footerText{
  font-size: 0.7em;
  -ms-flex-item-align: bottom;
      -ms-grid-row-align: bottom;
      align-self: flex-end;
}

.mobileNav__links{
  @include clear-List;
}

.mobileNav__link{
  padding: 10px;
}

.mobileNav__label{
  display: block;

}

.mobileNav__link:hover > .mobileNav__label{
  color: blue;
  cursor: pointer;
  font-weight: bolder;
}

.mobileNav__name{
  font-family: 'Architects Daughter', cursive;
  font-size: 1.2em;
  padding: 10px;
}

.mobileNav__search{
  padding: 10px;

}

#mobileNav__searchInput{
  font-size: 1.1em;
  width: 100%;
}

.mobileNav__searchInput{
    border: 1px solid black;
}

.mobileNav__projectsCarouselTabs{
  color: black;
  height: 0;  
  margin: 5px 0;
  overflow: hidden;
  padding: 3px;
  border: 1px solid black;
}

.mobileNav__projectsCarouselTab{
  margin: 10px 0;
}

.mobileNav__projectsCarouselLabel{
  color: black !important;
}

