
.mobileNav{

  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out; 

  width: 0;

  border-right: 2px solid black;
  position: fixed;
  height: 95vh;
  left: 0;
  background-color: white;

  @include flexBox;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  overflow: hidden;

  display: inline-block;

  @media only screen and (min-width: 600px) {
    display: none;
    width: 0;
  }

}

.mobileNav__name{
  padding: 10px;
  font-size: 1.2em;
  font-family: 'Architects Daughter', cursive;
}

.mobileNav__links{
  @include clear-List;
}

.mobileNav__link{
  padding: 10px;
}

.mobileNav__label{
  display: block;

}

.mobileNav__link:hover > .mobileNav__label{
  color: blue;
  font-weight: boldest;
  cursor: pointer;
}


.mobileNav__search{
  padding: 10px;

}

#mobileNav__searchInput{
  font-size: 1.1em;
  width: 100%;
}

.mobileNav__footer{
  padding: 10px;
  
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  
  @include flexBox;
  
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.mobileNav__footerText{
  font-size: 0.7em;
  -ms-flex-item-align: bottom;
      -ms-grid-row-align: bottom;
      align-self: bottom;
}
.mobileNav__searchInput{
    border: 1px solid black;
}

.mobileNav__projectsCarouselTabs{
  color: black;
  height: 0;  
  margin: 5px 0;
  overflow: hidden;
  padding: 3px;
}

.mobileNav__projectsCarouselTab{
  margin: 10px 0;
}

.mobileNav__projectsCarouselLabel{
  color: black !important;
}

