@media only screen and (min-width: 600px) {

  main{
      min-height: 80vh;
  }

  label[for="toggleNav"]{
    display: none;
    width: none;
  }
  
  .projects_carousel_tabs{
    display: block;
  }
  
  #toggleNav:checked ~ main {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  
  #standardNav{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  #mobileNav{
    display: none;
    width: 0;
  }

  .about_bars_intro{
    width: 50vw;
  }

  .projects_carousel{
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  
  .projects_carousel_tabs{
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  footer{
    display: block;
  }
}
