.standardNav{
  display: none;

  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;

  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
              -ms-grid-row-align: baseline;
          align-items: baseline;

  background-color: white;
  padding: 10px;  

  @media only screen and (min-width: $breakpointMed) {
    @include flexBox;
  }
}



.standardNav__links{
  @include flexBox;
  -ms-flex-flow: row ;
      flex-flow: row wrap;
}

.standardNav__link{
  margin: 0 10px;  
}

.standardNav__label:hover{
  color: blue;
  font-weight: bolder;
}

.standardNav__label{
  cursor: pointer;
}

.standardNav__searchIcon {
  cursor: pointer;
}

.standardNav__name{
  font-family: 'Architects Daughter', cursive;
  font-size: 1.6em;
}
