
.standardNav{
  display: none;

  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;

  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
              -ms-grid-row-align: baseline;
          align-items: baseline;

  background-color: white;
  padding: 10px;  

  @media only screen and (min-width: 600px) {
    @include flexBox;
  }
}

.nav__name{
  font-family: 'Architects Daughter', cursive;
  font-size: 1.6em;
}

.nav__links{
  @include flexBox;

  -ms-flex-flow: row ;
      flex-flow: row wrap;
  // clear 
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav__link{
  margin: 0 10px;  
}

.nav__label:hover{
  color: blue;
  font-weight: bolder;
}

.nav__label{
  cursor: pointer;
}

.nav__searchIcon {
  cursor: pointer;
}

