//MAKE BARS A COMPONENT -> ABOUT BARS/ ABOUT BARS SHOULD BE RENAMED

.about_bars{
  position: relative;

  @include flexBox;

  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;

  min-height: 75vh;

}

.about_bars_intro{
  position: absolute;
  
  top: 30vh;

  width: 95vw;

  color: snow;
  background-color: black;

  z-index: 5;
  

  @media only screen and (min-width: 600px) {
    width: 50vw;
  }
}


.about_bars_bar{
  width: 10px;
  background-color: black;
  margin: 10px 10px;
}