

.businessCard{
  font-family: Roboto;
  height: 100%;
  position: absolute;
  top: 0;
  transition: all 1s ease;  
  width: 100%;
}

.businessCard__back{
  background-color: black;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/433464/DSCN7219.jpg");
  background-size:     cover;           
  color: white;
  transform: rotateX(-180deg);
}

.businessCard__back,
.businessCard__front 
{
  backface-visibility: hidden;
  height: 100%;
  padding: 30px;
  position: absolute;
  top: 0;
  transition: transform 0.8s ease, box-shadow 1s ease;;
  width: 100%;
}

.businessCard__backName{
  background-color: rgba(255,255,255,0.7);
  border-radius: 3px;
  bottom: 4%;
  color: #7325d4;
  display: inline-block;
  font-size: 15px;
  left: 2%;
  padding: 5px;
  position: absolute;
}

.businessCard__contactItem{
  display: inline-block;
  color: #ee8ae4;  

}

.businessCard__contactList{
  list-style: none;
  margin: 0;
  padding: 0;
}

.businessCard__contactItem--notFirst{
  padding-left: 10px;
}

.businessCard__container{
  display: block;
  height: 300px;
  margin: 100px auto;
  perspective: 1000px;  
  position: relative;
  width: 500px;
    font-size: 16px;
}

.businessCard__currentPosition{
  font-weight: normal;
  margin: 0 auto;
}

.businessCard__figcaption{
  float: left;
  margin-left: 5px;
  margin-top: 5px;
}

.businessCard__flipIcon{
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
}

.businessCard__front{
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/433464/bg1.png");
  color: white;
  position: relative;
  transform: rotateX(0deg);
}

.businessCard__name{
  font-size: 35px;
  font-weight: normal;
  margin: 0 auto;;
}

.businessCard__networkLinks{
  margin-top: 20px;
  font-weight: normal;
}

.businessCard__networkLink--main{
  float: left;
}

.businessCard__networkLink--other{
  float: right;
}

.businessCard__networkLogoDescription{
  color: #ee8ae4;
}

.businessCard__networkLogo{
  width: 50px;
}

.businessCard__networkLogo--main{
   display: inline;
   float: left;
}

.businessCard__switch{
  display: none;
}

.businessCard__switch:checked + .businessCard__container:hover .businessCard__back{
    transform: rotateX(-20deg);
  box-shadow:  0 -30px 20px 5px rgba(255,255,255,0.25);
}

.businessCard__switch + .businessCard__container:hover .businessCard__front{
    transform: rotateX(20deg);
  box-shadow:  0 30px 20px 5px rgba(0,0,0,0.15);
}

.businessCard__switch:checked + .businessCard__container .businessCard__front{
    transform: rotateX(180deg);
}

.businessCard__switch:checked + .businessCard__container .businessCard__back{
    transform: rotateX(0deg);
}

/* ==================================== */
/* === BUSINESS CARD - MEDIA QUERIES=== */
/* ==================================== */

@media only screen and (max-width: 600px) {
  
  .businessCard__container{
    width: 360px;
    font-size: 0.9em;
  }
 
}

@media only screen and (max-width: 360px) {

  
  .businessCard__container{
    width: 300px;
    font-size: 0.9em;
  }
  
  .businessCard__contactItem--notFirst{
    padding: 0;
  }
  
  .businessCard__flipIcon{
    font-size: 1.2em;
  }
  
  .businessCard__networkLogo{
  width: 35px;
  }
    
}