
.bCardInput{
  display: none;
}

.bcard_holder{
  display: block;
  width: 500px;
  height: 300px;
  margin: 100px auto;
  -webkit-perspective: 1000px;
          perspective: 1000px;  
  position: relative;
  font-family: 'Roboto';
  font-size: 15px !important;
  @media only screen and (max-width: 600px) {
    width: 360px;
  }
  @media only screen and (max-width: 360px) {
    width: 300px;
  }
}


.bcard_card{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;  
}

.bCardInput:checked + .bcard_holder:hover .bcard_back{
    -webkit-transform: rotateX(-20deg);
            transform: rotateX(-20deg);
  box-shadow:  0 -30px 20px 5px rgba(255,255,255,0.25);
}

.bCardInput + .bcard_holder:hover .bcard_front{
    -webkit-transform: rotateX(20deg);
            transform: rotateX(20deg);
  box-shadow:  0 30px 20px 5px rgba(0,0,0,0.15);
}

.bcard_flipIcon{

  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}


  
label.bcard_flipIcon i.fa-2x{
  @media only screen and (max-width: 360px) {
    font-size: 1.2em;
  }
}

.bcard_front, .bcard_back{
  padding: 30px;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: box-shadow 1s ease, -webkit-transform 0.8s ease;
  transition: box-shadow 1s ease, -webkit-transform 0.8s ease;

  transition: transform 0.8s ease, box-shadow 1s ease;
  transition: transform 0.8s ease, box-shadow 1s ease, -webkit-transform 0.8s ease;

  -webkit-backface-visibility: hidden;;
          backface-visibility: hidden;
}


.bcard_front{
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/433464/bg1.png");
  color: white;
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
  position: relative;
}

#bcard_name{
  font-size: 35px;
  font-weight: normal;
  margin: 0 auto;;
}

#bcard_nameSub{
  margin: 0 auto;
  font-weight: normal;
}

#bcard_basicWebInfo{
  @include clear-List;
}

#bcard_basicWebInfo li{
  display: inline-block;
  color: #ee8ae4;  
}



#bcard_basicWebInfo li:not(:first-child){
  padding-left: 10px;

  @media only screen and (max-width: 360px) {
    padding: 0;
  }
}

#bcard_networkLinks{
  margin-top: 20px;
  font-weight: normal;
}

#bcard_networkLinks img{
  width: 50px;

  @media only screen and (max-width: 360px) {
    width: 35px;
  }
}
#bcard_networkLinks .bcard_networkLink:first-child{
  float: left;
}
#bcard_networkLinks .bcard_networkLink:not(:first-child){
  float: right;
}

#bcard_ency{
   display: inline;
   float: left;
}

#bcard_networkLinks figcaption{
  float: left;
  margin-top: 5px;
  margin-left: 5px;
}

.bcard_back{
  background-color: black;
  color: white;

  -webkit-transform: rotateX(-180deg);
          transform: rotateX(-180deg);

  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/433464/DSCN7219.jpg");
  background-size:     cover;           
}

#bcard_highlightedName{
  background-color: rgba(255,255,255,0.7);
  display: inline-block;
  padding: 5px;
  border-radius: 3px;
  font-size: 15px;
  color: #7325d4;
  position: absolute;
  bottom: 4%;
  left: 2%;
  
}

.bCardInput:checked + .bcard_holder .bcard_front{
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
}


.bCardInput:checked + .bcard_holder .bcard_back{
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
}

.bcard_purpleText{
  color: #ee8ae4;
}
