.introBars{
  position: relative;

  @include flexBox;

  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;

  min-height: 75vh;

}

.introBars__intro{
  background-color: black;
  color: snow;
  position: absolute;
  top: 30vh;
  width: 95vw;
  z-index: 5;

  @media only screen and (min-width: 600px) {
    width: 50vw;
  }

}

.introBars__welcome{
  background-color: black;
  color: snow;
  position: absolute;
  top: 70vh;
  width: 95vw;
  z-index: 5;

  @media only screen and (min-width: 600px) {
    width: 50vw;
  }

}

.introBars__bar{
  background-color: black;
  margin: 10px 10px;
  width: 10px;
}