input[name="sectionSwitches"]{
  display: none;
}

/* HIGHLIGHT SELECTED SECTION NAME LINK IN NAV */
input[name="sectionSwitches"]:nth-child(1):checked ~ nav .nav_links li:nth-child(1) label, 
input[name="sectionSwitches"]:nth-child(2):checked ~ nav .nav_links li:nth-child(2) label, 
input[name="sectionSwitches"]:nth-child(3):checked ~ nav .nav_links li:nth-child(3) label,
input[name="sectionSwitches"]:nth-child(4):checked ~ nav .nav_links li:nth-child(4) label
{
  color: red; 
  font-weight: bold;
}

input[name="sectionSwitches"]:nth-child(1):checked ~ nav .mobileNav_links > li:nth-child(1)  label, 
input[name="sectionSwitches"]:nth-child(2):checked ~ nav .mobileNav_links > li:nth-child(2)  label, 
input[name="sectionSwitches"]:nth-child(3):checked ~ nav .mobileNav_links > li:nth-child(3)  label,
input[name="sectionSwitches"]:nth-child(4):checked ~ nav .mobileNav_links > li:nth-child(4)  label
{
  color: red; 
  font-weight: bold;
}

.mobileNav_projects_carousel_tabs{
  height: 0;
  opacity:0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  overflow: hidden;
  color: black;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out; 
}

.mobileNav_projects_carousel_tabs > li > label{
  color: black !important;
}

input[name="sectionSwitches"]:nth-child(2):checked ~ nav .mobileNav_links > li:nth-child(2)  .mobileNav_projects_carousel_tabs{
  height: 100%;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out; 
}

input[name='mobile_projectsSwitch']{
  height: 0;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out; 
}

input[name="mobile_projectsSwitch"]:nth-child(1):checked ~ ul.mobileNav_projects_carousel_tabs li:nth-of-type(1) label,
input[name="mobile_projectsSwitch"]:nth-child(2):checked ~ ul li:nth-of-type(2),
input[name="mobile_projectsSwitch"]:nth-child(3):checked ~ ul li:nth-of-type(3),
input[name="mobile_projectsSwitch"]:nth-child(4):checked ~ ul li:nth-of-type(4),
input[name="mobile_projectsSwitch"]:nth-child(5):checked ~ ul li:nth-of-type(5){
  color: yellow !important;
}


/* DISPLAY PROPER MAIN SECTION BASED ON SELECTION */
input[name="sectionSwitches"]:nth-child(1):checked ~ main section:nth-of-type(1),
input[name="sectionSwitches"]:nth-child(2):checked ~ main section:nth-of-type(2),
input[name="sectionSwitches"]:nth-child(3):checked ~ main section:nth-of-type(3),
input[name="sectionSwitches"]:nth-child(4):checked ~ main section:nth-of-type(4){
  display: block;
}