.modalBackground{
  background-color: gray;
  height: 100vh;
  left: 0;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  position: fixed;
  top: 0;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out; 
  width: 100vw;
  z-index: 100;
}