// SEARCH MODAL COMPONENT

.searchModal{
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: red;
  @include flexBox;
  height: 70vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: calc(4%);
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  padding: 2%;
  position: fixed;
  text-align: center;
  transition: all 1s ease-in-out; 
  -webkit-transition: all 1s ease-in-out;
  top: 100px;
  width: 30%; 
  width: 90vw;
  z-index: 105; 
}

.searchModal__result{
  position: relative;
  text-align: center;
  width: 100%; height: 100%;
}

.searchModal__exitButton{
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
}


