//add proficiency bar colors vars

.skillChart{
  @include flexBox;

  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;

  margin: 4vh 3vh 15vh 0vh;
}

.skillsChart__bar{
  width: 25px;
  cursor: pointer;
}

.skillsChart__barContainer:hover .skillsChart_toolTipCont > .skillsChart_toolTip{
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  z-index: 5;
}

// SKILL BAR PROFICIENCY MODIFIER -- AFFECTS HEIGHT OF BAR
.skillsChart__bar--expert{
  height: 40vh;
  max-height: 180px;
}

.skillsChart__bar--proficient{
  height: 30vh;
  max-height: 138.75px;
}

.skillsChart__bar--learning{
  position: relative;
  height: 0vh;
}

.skillsChart__bar--competent{
  height: 20vh;
  max-height: 95px;
}

.skillsChart__bar--learning{
  height: 14vh;
  max-height: 55px;
}

// SKILL BAR COLOR MODIFIER -- AFFECTS COLOR OF BAR (NOT SEMANTIC)
.skillsChart__bar--orange{
  background-color: #FFAD41;
}

.skillsChart__bar--aqua{
  background-color: #38BAF0;
}

.skillsChart__bar--green{
  background-color: #69D12B;
}
.skillsChart__bar--pink{
  background-color: #FA8CB0;
}
.skillsChart__bar--yellow{
  background-color: #EFE210;
}

.skillsChart__barContainer{
  margin: -9px 10px;
  @include flexBox;
  -ms-flex-flow: column;
      flex-flow: column;
  position: relative;
}

.skillsChart__barsContainer{
  @include flexBox;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 40vh;
  max-height: 185px;
  border-bottom: 2px solid black;
}

.skillsChart__barLabel{
  height: 0;
  width: 0;
  text-align: center;
   padding: 5px 13px; 
  -webkit-transform: rotate(45deg); 
          transform: rotate(45deg);
  font-size: 0.8em;
  z-index: -1;
}

.skillCharts__container{
  @include flexBox;

  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}


.skillChart__title{
  margin: 20px;
  text-align: center;
}


.skillsChart_toolTipCont{
  height: 0;
  width: 0;
  position: relative;
}

.skillsChart_toolTip{
  position: absolute;
  top: -35px;
  left: -110px;
  width: 120px;
  border-radius: 10px 10px 0 10px;
  background-color: rgba(55,55,55,0.8);
  color: white;
  padding: 7px;
  font-size: 0.5em;

  -webkit-transition: 0.2s all;
  transition: 0.2s all;

  z-index: -5;

  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.skillsChart__yAxisProficiencyLabels{
  @include flexBox;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  font-size: 0.9em;
  border-bottom: 2px solid black;
}

.skillsChart__yAxisProficiencyLabel{
  position: relative;
  top: -5px;
  font-size: 0.8em;
}

.skillsChart__yAxisProficiencyLabel--hidden{
  visibility:hidden;
}
