input[name="sectionSwitches"]{
  display: none;
}

// HIGHLIGHT SELECTED SECTION NAME LINK IN NAV 
@for $i from 1 through 4 {
input[name="sectionSwitches"]:nth-child(#{$i}):checked ~ .standardNav .nav_links li:nth-child(#{$i}) label
  {
    color: red; 
    font-weight: bold;
  }
}

// HIGHLIGHT SELECTED SECTION NAME IN MOBILE NAV
@for $i from 1 through 4 {
input[name="sectionSwitches"]:nth-child(#{$i}):checked ~ .mobileNav .mobileNav_links > .mobileNav_link:nth-child(#{$i}) .mobileNav_label {
    color: red; 
    font-weight: bold;
  }
}

// DISPLAY SECTION WHEN CLICKED
@for $i from 1 through 4 {
  input[name="sectionSwitches"]:nth-child(#{$i}):checked ~ main section:nth-of-type(#{$i}){
    display: block;
  }
}



