.projectCarousel__switches{
  @include flexBox;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

input[name|="projectCarousel__switch"]{
  display: none;
}

label[for|="projectCarousel__switch"]{
  cursor: pointer;
  margin: 5px;
  &:hover{
    background-color: gray;
    color: white;
  }
}

// ADJUST RIGHT ARROW IN PROJECT CAROUSEL DEPENDING ON WHICH IMAGE IS OPEN
.projectCarousel
input[name|="projectCarousel__switch"]:nth-of-type(1):checked ~ .projectCarousel__images .projectCarousel__sliderLeft .projectCarousel__navArrow:nth-of-type(3), 
.projectCarousel
input[name|="projectCarousel__switch"]:nth-of-type(2):checked ~ .projectCarousel__images .projectCarousel__sliderLeft .projectCarousel__navArrow:nth-of-type(1), 
input[name|="projectCarousel__switch"]:nth-of-type(3):checked ~ .projectCarousel__images .projectCarousel__sliderLeft .projectCarousel__navArrow:nth-of-type(2)
{
  @include flexBox;
}

// ADJUST LEFT ARROW IN PROJECT CAROUSEL DEPENDING ON WHICH IMAGE IS OPEN
.projectCarousel input[name|="projectCarousel__switch"]:nth-of-type(1):checked ~ .projectCarousel__images .projectCarousel__sliderRight .projectCarousel__navArrow:nth-of-type(2), 
.projectCarousel input[name|="projectCarousel__switch"]:nth-of-type(2):checked ~ .projectCarousel__images .projectCarousel__sliderRight .projectCarousel__navArrow:nth-of-type(3), 
input[name|="projectCarousel__switch"]:nth-of-type(3):checked ~ .projectCarousel__images .projectCarousel__sliderRight .projectCarousel__navArrow:nth-of-type(1){
  @include flexBox;
}

// TRANSITION INTO NEW IMAGE WHEN SELECTED
@for $i from 1 through 3 {
.projectCarousel
  input[name|="projectCarousel__switch"]:nth-of-type(#{$i}):checked ~ .projectCarousel__images img:nth-of-type(#{$i}){
    height: auto;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-transform: scale(1,1);
        transform: scale(1,1);
    -webkit-transition: all 0.8s ;
            transition: all 0.8s ;
    width: auto;
    z-index: 0;

    
  }
}

// HIGHLIGHT CURRENT IMAGE NUMBER IN PROJECT CAROUSEL BASED ON WHICH IMAGE IS CURRENTLY OPEN
@for $i from 1 through 3 {
  input[name|="projectCarousel__switch"]:nth-of-type(#{$i}):checked ~ .projectCarousel__switches label:nth-of-type(#{$i}){
    background-color: gray;
    color: white;
  }
}
