// SEARCH MODAL TOGGLE SWITCH

#searchModalToggle{
  display:none;
}

label[for="searchModalToggle"]{
  cursor: pointer;
}

#searchModalToggle:checked ~ .searchModal{
  height: 0;
  top: -300px;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out; 
}

#searchModalToggle:checked ~ .modalBackground{
  z-index: -50;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out; 
}
