*{
  box-sizing: border-box;
}

body{
  
  background-color: lightyellow;
  font-family: 'Roboto Mono', monospace;
  margin: 0 auto;
  width: 100vw;

  @media only screen and (min-width: $breakpointSmall) {
		background-color: lightpink;
    width: 100vw;
  }
  @media only screen and (min-width: $breakpointMed) {
    background-color: lightgreen;
    display: block;
    font-size: 1.1em;
    width: 97vw;
  }
  @media only screen and (min-width: $breakpointLarge) {
    font-size: 1.5em;
    max-width: 1600px;
    background-color: lightblue;
    width: 90vw;

  }
}
